/*
  CONTAINTER----------------------
*/

.blog {
  display: grid;
  grid-template-columns: 17rem 38.5rem ;
  grid-template-rows: 14rem 3rem ;
  width: 55rem;
  height: 17rem;
  background-color: var(--background);
  border-radius: 1rem;
  color: var(--font);
  margin: 1.5rem;
  ::-webkit-scrollbar {
    background-color: rgba(99, 99, 99, 0.20) ;
    width: .65rem;
    border-radius: 1rem;
    margin: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
  }
}

.blog-img {
  user-select: none;
  width: 15rem;
  margin: 1rem;
  border-radius: .5rem;
}

/*
  TEXT-----------------------------
*/

.blog-article {

}
.blog-pharagraph {
  text-align: start;
  font-size: 19px;
  width: 36.8rem;
  height: 8.5rem;
  overflow-y: scroll;
}


/*
  BUTTONS---------------------------
*/


.blog-buttons {
  display: flex;
  width: 37.95rem;
  height: 2.45rem;
  align-items: center;
  justify-content: flex-end;
}
.blog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.66);
  border-radius: 5rem;
  border: 1px transparent;
  padding: 1rem;
  width: 2.9rem;
  height: 2.25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.blog-buttons :hover {
  background-color: rgba(20, 20, 20, 100);
}


.buttons-img {
  background-color: transparent;
  width: 1.5rem;
  height: 1.38rem;
}

/*
  RESPONSIVE (800px)-------------------------------------------------------------
*/

@media (max-width: 900px) {
  .blog-header{
    width: 15rem;
    height: 17rem;
  }

  .blog {
    grid-template-columns: 16rem 38.5rem ;
    grid-template-rows: 14rem 3rem ;
    width: 45rem;
    height: 17rem;
    margin: 1.5rem;
  }
  
  .blog-img {
    width: 14rem;
    margin: 1.4rem 1rem 1.4rem 1rem;
    border-radius: .5rem;
  }
  
  /*
    TEXT-----------------------------
  */
  
  .blog-pharagraph {
    font-size: 17px;
    width: 28rem;
    height: 8.5rem;
  }
  
  
  /*
    BUTTONS---------------------------
  */
  
  
  .blog-buttons {
    display: flex;
    width: 29rem;
    height: 3rem;
    align-items: center;
    justify-content: flex-end;
  }
  .blog-button {
    border-radius: 5rem;
    padding: 1rem;
    width: 2.9rem;
    height: 2.25rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  
  .buttons-img {
    width: 1.5rem;
    height: 1.38rem;
  }

 
}

/*
  RESPONSIVE (600px)-------------------------------------------------------------
*/

@media (max-width: 600px) {

  /*
    CONTAINER----------------------
  */

  .blog-header{
    width: 7rem;
  }

  .blog {
    display: inline-flex;
    width: 25rem;
    height: 14rem;
    position: relative;
    border-radius: 1rem;
    margin: .8rem;
  }
  .blog-header {
    height: 6.5rem;
  }
  
  .blog-img {
    width: 5rem;
    margin: 1rem;
    border-radius: .5rem;
  }
  
  /*
    TEXT-----------------------------
  */
  
  .blog-pharagraph {
    font-size: 13px;
    width: 16.5rem;
    height: 8.5rem;
  }
  
  
  /*
    BUTTONS----------------------------
  */
  
  
  .blog-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-flow: column;
    width:  7rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
  }
  .blog-button {
    display: flex;
    border-radius: .3rem;
    border: 1px transparent;
    padding: 1rem;
    width: 5rem;
    height: 1rem;
    margin: .1rem;
  }
  
  .buttons-img {
    width: 1.1rem;
    height: 1.1rem;
  }
}


/*
  RESPONSIVE (400px)-------------------------------------------------------
*/


@media (max-width: 400px) {

  /*
    CONTAINER-----------------------  
  */

  .blog {
    display: flex;
    width: 22rem;
    height: 14rem;
    position: relative;
    border-radius: 1rem;
    margin: .6rem;
    
  }
  .blog-header {
    height: 6.5rem;
  }
  
  .blog-img {
    width: 5rem;
    margin: 1rem;
    border-radius: .5rem;
  }
  
  /* 
    TEXT------------------------------
  */
  
  .blog-pharagraph {
    font-size: 13px;
    width: 13.7rem;
    height: 8.5rem;
  }
  
  
  /*
    BUTTONS---------------------------
  */
  
  
  .blog-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-flow: column;
    width:  7rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
  }
  .blog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 5rem;
    height: 1rem;
    margin: .1rem;
  }

  .buttons-img {
    width: 1rem;
    height: 1rem;
  }
}